language: php

php:
  - 7
  - 5.6
  - 5.5

sudo: false

before_script:
  - composer install
  
script:
  - php vendor/bin/phpcs --standard=./test/codesniffer.xml -s --encoding=utf-8 ./src
  - php vendor/bin/phpunit -c test/phpunit.xml --coverage-text

notifications:
  email:
    recipients:
      - Danack+travis@BaseReality.com
#    on_success: [always|never|change] # default: change
#    on_failure: [always|never|change] # default: always